In [1]:
import os
os.getcwd()
os.listdir()

['analysecommune.ipynb',
 '.DS_Store',
 'export_moyenne.csv',
 'donnees_webscrap.csv',
 'ind_atmo_2021.csv',
 'Pollution_france.csv']

In [4]:
import pandas as pd

poll = pd.read_csv("donnees_webscrap.csv", sep=",")
poll.head()

                Commune  pm10  pm25   no2
0  ABBEVILLE LA RIVIERE  15.0   8.0   8.0
1              ABLEIGES  18.0   9.0  13.0
2                 ABLIS  15.0   8.0  13.0
3       ABLON SUR SEINE  17.0  10.0  24.0
4               ACHERES  19.0  10.0  21.0

In [5]:
poll.sort_values("no2", ascending=False).head(10)

                  Commune  pm10  pm25   no2
392                  EVRY  26.0  14.0  54.0
919              PARIS 02  27.0  15.0  52.0
935              PARIS 18  28.0  15.0  49.0
525   ISSY LES MOULINEAUX  23.0  14.0  49.0
1282             VILLETTE  25.0  15.0  47.0
927              PARIS 10  27.0  15.0  47.0
923              PARIS 06  26.0  14.0  46.0
931              PARIS 14  23.0  14.0  46.0
928              PARIS 11  26.0  15.0  45.0
934              PARIS 17  28.0  15.0  45.0